.all {
	background-color: #ffffff;
	margin: 0px auto;
	width: 80%;
	
}

.all:hover{

}

.product {
	/*max-width: 300px;*/
	font-family: Arial;
	/*margin: 10px;*/
	min-height: 100px;
	width: 200px;
	border: 1px solid #dedede;
	padding-bottom: 20px;
	background-color: #ffffff;
	max-width: 200px;
	margin-bottom: 10px;
}



.product:hover {
	border: 1px solid #000000;
}

.product img{
	width: 100%;
	display: block;
}

.price{
	position: relative;
	top: -40px;
	font-size: 20px;
	color: #ffffff;
	width: 70px;
	background-color: rgba(255, 80, 80, 0.8);
}

.info {
	padding: 0px 10px;
	text-align: center;
}

.info h2 {
	font-weight: lighter;
	margin: -20px 0px;
	font-size: 16px;

}

.search{
	width: 100%;
	height: 70px;
	background-color: #6666cc;
	margin-bottom: 40px;
}

.searchField {
	margin: 0 auto;
	width: 500px;
	padding: 15px;
	padding-top: 15px;
	font-size: 18px;
}

.searchField input {
	margin: 0 auto;
	width: 500px;
	font-size: 18px;
	padding: 5px 20px;
}

.subfield {
	width: 230px;
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}

.subfield__title{
	font-size: 18px;
	margin-bottom: 10px
}

.field b {
		width: 100%;
}

.photo img, .photo Images{
	display: inline-block;
}
