.NotesGrid {
	margin: 0px auto;
	width: 650px;
}

@media screen and (min-device-width: 1090px){
    .NotesGrid {
		width: 1090px;
	}
}

@media screen and (max-device-width: 1089px) and (min-device-width: 870px){
    .NotesGrid {
		width: 870px;
	}
}

@media screen and (max-device-width: 650px) {
    .NotesGrid {
		width: 650px;
	}
}


.all__all:hover{

}

.all__product {
	/*max-width: 300px;*/
	font-family: Arial;
	/*margin: 10px;*/
	min-height: 100px;
	width: 200px;
	border: 1px solid #dedede;
	padding-bottom: 20px;
	background-color: #ffffff;
	max-width: 200px;
	margin-bottom: 10px;
}



.all__product:hover {
	border: 1px solid #aaaaaa;
}

.all__product img{
	width: 100%;
	display: block;
}

.all__price{
	position: relative;
	top: -40px;
	font-size: 20px;
	color: #ffffff;
	width: 70px;
	background-color: rgba(255, 80, 80, 0.6);
}

.all__info {
	padding: 0px 10px;
	text-align: center;
}

.all__info h2 {
	font-weight: lighter;
	margin: -20px 0px;
	font-size: 16px;

}

.all__search{
	width: 100%;
	height: 70px;
	/*background-color: rgba(255, 255, 70, 0.3);*/
	margin-bottom: 40px;
}

.all__searchField {
	margin: 0 auto;
	width: 500px;
	padding: 15px;
	padding-top: 15px;
	font-size: 18px;
}

.all__searchField input {
	margin: 0 auto;
	width: 500px;
	font-size: 18px;
	padding: 5px 20px;
	border: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	transition: box-shadow 0.3s;
}

.all__searchField input:hover {	
	border: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	transition: box-shadow 0.3s;
}

.all__searchField input:focus {	
	border: 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.0);
	transition: box-shadow 0.3s;
}

