.product {
	width: 520px;
	margin: 0px auto;
	font-family: "Myriad Set Pro";
	color: #3d1d12;	
}

.product p {
	font-size: 16px;
}

.field {
	margin: 20px 0px;
}

.subfield {
	padding: 15px;
	width: 210px;
	margin: 10px;
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
	border-radius: 20px;
	background-color: #b7ddc4;
	text-align: center;
}

.subfield__title {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: lighter;
}

.subfield li {
	text-align: left;	
	margin-left: 10px
}

.field b {
	width: 100%;
}

h1, h2, h3 {
	text-align: center;
	font-weight: lighter;
	color: #3d1d12;	
}

.price b { 
	margin: 10px 0px;
	font-weight: lighter;
}

.price {
	position: absolute;
}

.likes {
	position: relative;
	left: 90%;
}

.galery {
	display: flex;
	width: 520px;
}

.other__min {
	width: 82px;
	margin: 1px 2px;
	margin: 5px auto;
	border-radius: 0%;
	opacity: 0.6;

	transition: 0.3s;
}

.other__min:hover {
	border-radius: 50%;
	opacity: 1;
	transition: 0.2s;
}

.other__minbox {
	position: absolute;
	width: 100px;
}

.galery__min {
	width: 82px;
	margin: 1px 2px;
}

.galery__minbox {
	position: absolute;
	width: 190px;
	left: calc(50% + 280px)
}

.galery__min_current {
	width: 82px;
	margin: 1px 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	opacity: 0.8;
	transition: all 0.3s;
}

.galery__fullbox {
	width: 520px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

.galery__full {
	transition: all 0.3s;
	margin: 0px auto;
	max-width: 520px;
	max-height: 500px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product .toBasket {
	font-family: "Segoe UI";
	font-size: 16px;
	position: relative;
	left: 40%;
}

.product .author {
	position: relative;
	display: block;
	left: -130px;
	text-align: center;
	width: 100px;
	margin-bottom: -80px;
}

.product .author .img {
	max-width: 50px;
	border-radius: 50%;
}

.product .author h2{
	margin: 0px;
}
/*.img {
	width: 100%;
	position: relative;
	display: inline-block;
}

.img img {
	margin: 5px;
	vertical-align: top;
}

.titleImg {
	height: 630px;
	margin: 0px auto;
}

.photo {
	margin: 0px auto;	
}*/