body {
	padding: 0;
	margin: 0px;
	margin-bottom: 20px;
	background-color: #efeae4;
	background: url(https://habrastorage.org/files/bee/e0b/f47/beee0bf47a9f4954a1cb11fb619717d9.jpg) no-repeat  #efeae4;
	background-size: 100% auto;
	background-position: 50% -200px;
}

.header {
	width: 100%;
	min-width: 520px;
}

.header img {
	margin: 0 10%;
}

.logIn, .singIn {
	color: #faebc0;
	text-align: right;
	font-family: "Segoe UI";
	width: 100%;	
	line-height: 100px;
	margin-left: -50px;
	position: absolute;
	top: -10px;
}



.logIn div {
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	padding-right: 20px;
	cursor: pointer;
}

.singIn div {
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	padding-right: 20px;
	cursor: pointer;
}


.logIn img {
	display: inline-block;
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
	margin: 0px;
	vertical-align: middle;
}

.logIn .name:hover:after {
	content: "▼";
	margin-right: -15.5px;
}

.header .logo {
	font-family: "Segoe UI";
	font-size: 80px;
	width: 100%;
	text-align: center;
}

.logo {
	background-color: #5a462e;
	margin-top: -25px;
}

.logo img{	
	cursor: pointer;
	width: 250px;
}

.bcolor {
	color: #c76864;
}
.bcolor2 {
	color: #c76864;
}

.add_button {
	filter: invert(90%) sepia(100%);
}