body {
	padding: 0;
	margin: 0px;
	margin-bottom: 20px;
}

.header {
	width: 100%;
	/*background-color: #badacc;*/
}

.header img {
	margin: 0 10%;
}

.logIn, .singIn {
	color: #6e6e6e;
	text-align: right;
	font-family: "Segoe UI";
	width: 100%;	
	line-height: 100px;
	margin-left: -50px;
}

.logIn div {
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
}


.logIn img {
	display: inline-block;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	margin: 0px;
	vertical-align: middle;
}

